:root {
  --primary-Color: white;
  --second-Color: white;
  --third-Color: ;
  --alternative-Color: #f2f2f2;
  --complementary-Color: #0d0d0d;
  --button-Color: #e6edf8;
}

/* Reset b치sico para eliminar m치rgenes y rellenos predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--alternative-Color);
  padding: 20px 20px;
}

.logo {
  margin-left: 20px;
}

.logo img {
  width: 100%;
}

nav {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 50px;
}

nav a {
  color: black;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
}

footer {
  margin-top: 20px;
  background: var(--complementary-Color);
  color: #fff;
  text-align: center;
  padding: 10px 10px 10px 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.info-footer {
  margin-top: 10px;
}

.info-footer p {
  font-size: 14px;
}

/* Ajuste responsivo */
@media (max-width: 768px) {
  nav {
    display: block;
    text-align: center;
    margin-left: 0;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }

  .logo {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
}

.cuerpo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 2% 0;
}

.productosReponer {
  padding-inline: 1%;
  padding-block: 3%;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  .mostrarMas {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.productosReponer span {
  background-color: #e6edf8;
}

.productosReponer i{
  color: #F49a34;
}

.cuerpo > .sections {
  color: #000;
  background: var(--second-Color);
  margin: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.titulo {
  font-size: larger;
  font-weight: bold;
  margin: 3% 3% 3% 0;
  text-align: center;
}

.headerTable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.headerTable h2 {
  margin: 0;
}

.headerTable form {
  margin: 0;
}

.headerTable .btn-agregar {
  background-color: #1e672c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.headerTable .btn-agregar:hover {
  background-color: #218838;
}

#orderModal {
  display: none;
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 600px;
  min-height: 300px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: all 0.5s ease-out;
}

#orderModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideDown 0.5s ease-out forwards;
  .contentConfirm {
    gap: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    color: black;
    img {
      width: 50%;
      opacity: 1;
    }
  }
}

body.active{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000000;
}

@keyframes slideDown {
  0% {
    top: -100%;
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

#orderModal .active .modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.orderForm {
  padding: 2% 2% 4% 2%;
  border: 1px solid rgb(185, 185, 185);
  width: 50%;
  max-height: 300px;
  align-self: self-start;
}

.editForm {
  width: 70%;
  max-height: 80vh;
  align-self: self-start;
}

.edit-producto{
  padding: 2%;
  border-radius: 10px;
  border: 1px solid rgb(185, 185, 185);
  height: 100%;
}

form#editForm {
  color: #0000;
}

.radioInput {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.radioInput > div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
}

form#editForm input[type="radio"] {
  width: 50%;
}

/* Form styling */
form#orderForm {
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form#orderForm .order-producto {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Heading styling */
form#orderForm h3 {
  font-size: 24px;
  color: #000;
}

form#orderForm h4 {
  font-size: 20px;
  color: #000;
}

/* Label styling */
form#orderForm label {
  font-size: 16px;
  color: #000;
  margin-bottom: 5px;
}

/* Input styling */
form#orderForm input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

/* Select styling */
form#orderForm select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

/* Button styling */
form#orderForm button#btn-orderProduct {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-start;
}

form#orderForm button#btn-orderProduct:hover {
  background-color: #0056b3;
}

/* Responsive design */
@media (max-width: 600px) {
  form#orderForm {
    padding: 10px;
  }

  form#orderForm h3 {
    font-size: 20px;
  }

  form#orderForm h4 {
    font-size: 18px;
  }

  form#orderForm label {
    font-size: 14px;
  }

  form#orderForm input[type="number"],
  form#orderForm select {
    font-size: 14px;
  }

  form#orderForm button#btn-orderProduct {
    font-size: 14px;
  }
}

#openModal {
  display: none;
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 600px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: all 0.5s ease-out;
}

#openModal.activeOrder {
  display: block;
  animation: slideDown 0.5s ease-out forwards;
}

@keyframes slideDown {
  0% {
    top: -100%;
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

body.activeOrder::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#openModal.modalDialog .card-body {
  color: #000;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  margin: auto;
}

.card-body .titlePedido {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.card-body .card-text {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}

.btns-card-body {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Form styling */
form#agregarForm {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 10px;
  color: #000;
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form#enviarForm{
  border-radius: 10px;
  color: #000;
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form#enviarForm button,
form#agregarForm button,
form#editForm button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-start;
}

form#enviarForm button#cancel-order {
  background-color: #dc3545;
}

form#enviarForm button:hover,
form#agregarForm button:hover {
  opacity: 0.9;
}

/* Input and label styling */
form#agregarForm label {
  font-size: 16px;
  color: #000;
}

form#agregarForm input[type="text"],
form#agregarForm input[type="number"],
form#agregarForm input[type="email"],
form#agregarForm select,
form#editForm input[type="text"],
form#editForm input[type="number"],
form#editForm select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #333;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

form#agregarForm input[type="radio"] {
  padding: 5px;
  width: 12%;
}

form#agregarForm textarea,
form#editForm textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
}

form#agregarForm textarea,
form#editForm textarea {
  resize: vertical;
  min-height: 100px; /* Adjust this value as needed */
}


form#editForm label{
  color: #000;
}

/* Specific styling for the "Desc" label and textarea */
form#agregarForm input[name="descProveedor"],
input[name="desc"],
form#editForm input[name="desc"],
input[name="desc"] {
  height: 100px; /* Adjust this value as needed */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
}

/* Section headers */
.datos-producto h3,
.datos-proveedor h3 {
  font-size: 20px;
  color: #000;
  margin-bottom: 10px;
}

/* Button container styling */
.btn-guardar {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

/* Flexbox for two columns */
.datos-producto,
.datos-proveedor {
  flex: 1;
  margin-right: 20px;
}

.datos-proveedor {
  margin-right: 0;
}

/* Container for the two columns */
.row {
  display: flex;
  gap: 20px;
}

/* Responsive design */
@media (max-width: 600px) {
  main.container {
    padding: 10px;
  }

  .card-body {
    width: 90%;
  }

  form#agregarForm input[type="text"],
  form#agregarForm input[type="number"],
  form#agregarForm input[type="email"],
  form#agregarForm input[type="radio"],
  form#agregarForm select,
  form#agregarForm textarea {
    font-size: 14px;
  }

  form#agregarForm label {
    font-size: 14px;
  }

  form#enviarForm button,
  form#agregarForm button {
    font-size: 14px;
  }

  .datos-producto,
  .datos-proveedor {
    margin-right: 0;
    flex: 1 1 100%;
  }

  .row {
    flex-direction: column;
  }
}

.edit-producto {
  color: #fff;
  margin-bottom: 20px;
}

.edit-producto h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.edit-producto label {
  display: block;
  margin-bottom: 5px;
}

.edit-producto input[type="text"],
.edit-producto input[type="number"],
.edit-producto input[type="text-area"],
.edit-producto select {
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#btn-editProducto {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn-editProducto:hover {
  background-color: #0056b3;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.grafico {
  width: 100%;
  margin-top: 20px;
}

.encabezadoGrafico {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-right: 50px;
  margin-bottom: 2%;
}

#total {
  font-weight: bold;
  margin-right: 10px;
}

.grafico select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

canvas {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

#btn-volver {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btn-volver:hover {
  background-color: #0056b3;
}

#btn-volver:active {
  background-color: red;
}

#resumen {
  position: relative;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  padding: 5px 5px 5px 0px;
  width: 100%;
}

#resumen:hover {
  border-color: var(--button-Color);
  box-shadow: 0 0 3px black;
}

#enlace {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* Contenedor principal */
.lista {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-block: 2%;
  padding-inline: 1%;
}

/* Cada producto */
.lista > div {
  height: auto;
  font-weight: bold;
  color: white;
  background-color: var(--third-Color);
  line-height: 2.6rem;
  border: 1px solid rgb(212, 212, 212);
}

.producto:hover {
  background-color: rgb(247, 247, 247);
}

.lista:focus {
  outline: none;
}

.lista p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

/* Enlaces */
.lista a {
  background-color: var(--button-Color);
  display: inline-block;
  margin: 0 5px;
  padding-inline: 1rem;
  font-size: 14px;
  color: #407fef;
  text-decoration: none;
  border: 1px solid #4080ef92;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.producto {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.producto .datosProducto {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  padding-left: 5%;
}

.datosProducto > div {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 25%;
}

.opcionesProductos {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}

.header-producto {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 180%;
}
.header-producto .datosProducto {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  padding-left: 5%;
}

.lista .header-producto {
  background-color: var(--alternative-Color);
  margin-block: 15px;
  border-radius: 10px;
}

.sections.informe {
  width: 80%;
  margin-top: 230px;
  padding: 3%;
  border: 1px solid rgb(185, 185, 185);
  color: #000;
}

#read-more {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  display: none;
}

#mostrarMas {
  width: 100%;
  padding: 10px 20px;
  font-size: 20px;
  color: black;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: start;
}

#mostrarMenos {
  width: 100%;
  padding: 10px 20px;
  font-size: 20px;
  color: black;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: start;
}

.divScroller {
  overflow-y: scroll;
  overflow-x: hidden;
}

.palabraLarga {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 2px;
}



.sections::-webkit-scrollbar {
  width: 12px; /* Ancho de la scrollbar */
}

.sections::-webkit-scrollbar-track {
  background: transparent; /* Fondo transparente */
}

.sections::-webkit-scrollbar-thumb {
  background-color: #888; /* Color gris por defecto */
  border-radius: 10px; /* Extremos redondeados */
  border: 3px solid transparent; /* Espacio alrededor de la barra para hacer que sea m치s f치cil de agarrar */
  background-clip: padding-box; /* Recortar el fondo */
}
