doctype Html 
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    body
        header
                div.logo
                    img(src="/images/logoPi.png", alt="logo")
                nav
                    a(href="/") Inventario
                    a(href="/report") Informe 
                    a(href="/newProduct") Nuevo Producto
        block content
        script(src="/js/main.js", type="module")
        block extra-scripts