doctype Html 
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet", href="/css/styles.css")
    body
        header
                div.logo
                    img(src="/images/logoPi.png", alt="logo")
                nav
                    a(href="/") Inventario
                    a(href="/report") Informe 
                    a(href="/newProduct") Nuevo Producto
        block content
        footer
            div.info-footer
                p &copy Copyrigth
        script(src="/js/main.js", type="module")
        block extra-scripts