extends layout 
block content
    main.container
        .titulo
            h2 Pedir producto
        .cuerpo
            div.sections.orderForm
                form#orderForm(action=`/order/${producto.id}` , method="POST")
                    div.order-producto
                        h4= producto.nombre
                        label(for="cantidadPedido") Cantidad
                        input(type="number" name="cantidadPedido"  required)
                        label(for="proveedor") Proveedor
                        select(name="proveedor")
                            each opcion in proveedores
                                option(value=opcion.nombre) #{opcion.nombre}
                        button#btn-orderProduct(type="submit") Pedir
