extends layout
block content
    main.container
        div.cuerpo
            div.informe.sections
                    h2 Visualización de estadísticas globales
                    hr
                    div.grafico
                        figure
                            h3 Pedidos cantidad/Precio total.
                            div.encabezadoGrafico
                                p#total
                                select#productOptions
                                        option(value="cantidad") -Cantidad-
                                        option(value="total") -Precio total-
                            canvas#yearsChart
block extra-scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js")
    script(src="/js/report.js")
